.MyButton {
  min-width: 120px;
  position: relative;
  cursor: pointer;
  padding: 12px 17px;
  border: 0;
  border-radius: 7px;
  color: rgb(255, 255, 255, 0.66);
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: normal;
}

.MyButton::before {
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: 5px;
  left: 15%;
  transform: translateX(-50%);
  opacity: 0.2;
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
  background: currentColor;
}

.MyButton:hover::before {
  opacity: 1;
  width: 80%; 
  left: 50%; 
}

.green, .white {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green:hover {
  background-color: #21bd7c;
}

.green {
  background-color: #00af66;
  color: white;
  box-shadow: rgba(247, 198, 199, 0.2) 0px 8px 15px 0px,
    rgba(242, 230, 217, 0.2) 0px 8px 15px 0px;
}

.white {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  box-shadow: 10px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.white:hover {
  background-color: #f2f2f2;
}

.medium {
  padding: 10px 20px;
  font-size: 16px;
  height: 52px;
  width: 169px;
  line-height: 1.2;
}

.large {
  padding: 14px 28px;
  font-size: 16px;
  width: 318px;
  height: 52px;
  border-radius: 15px;
  line-height: 1.2;
}